
@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* swiper */
.swiper-pagination {
  bottom: 10px !important;
  z-index: 10 !important;
  position: absolute !important;
    background-color: rgba(0, 0, 0, 0.1);
  height: 20px;
}


.swiper-button-next,
.swiper-button-prev {
  color: #DD3B4A; 
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: #999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #DD3B4A;
}

